<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-responsive" id="table-lessons">
          <thead>
            <tr class="table-header">
              <th><h5><%= "#{params[:group_number]} (#{params[:subgroup_number]})" %></h5></th>
              <% lesson_time_boundaries.each do |lesson_time_boundary| %>
                <th><h5><%= lesson_time_boundary %></h5></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% week_numbers.each do |week_number| %>
              <tr class="weekday-tr">
                <td colspan="100%"><h5 class="weekday-label">Неделя <%= week_number %></h5></td>
              </tr>
              <% weekdays.each do |weekday| %>
                <tr>
                  <td><h4><%= weekday %></h4></td>
                  <% lesson_time_boundaries.each do |lesson_time_boundary| %>
                    <td class="lesson-td" style="padding:2px"><%=
                        if schedule_hash[week_number][weekday]
                          if schedule_hash[week_number][weekday]
                            if schedule_hash[week_number][weekday][lesson_time_boundary]
                              if schedule_hash[week_number][weekday][lesson_time_boundary].any?
                                render partial: 'schedule/pdf/lesson', locals: {lesson: schedule_hash[week_number][weekday][lesson_time_boundary]}
                              end
                            end
                          end
                        end
                      %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
