<ul class="list-group">
  <li class="list-group-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        Предметы
      </div>
      <div class="panel-body">
        <input type="checkbox" name="all-info-checkbox" checked ><b>Все предметы</b><br>
        <% subjects_list.map do |subject| %>
            <input type="checkbox" name="info-checkbox" value="<%= subject %>" checked><%= subject %><br>
        <% end %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        Преподаватели
      </div>
      <div class="panel-body">
        <input type="checkbox" name="all-info-checkbox" checked ><b>Все преподаватели</b><br>
        <% employees_list.map do |employee| %>
            <input type="checkbox" name="info-checkbox" value="<%= employee %>" checked><%= employee %><br>
        <% end %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        Аудитории
      </div>
      <div class="panel-body">
        <input type="checkbox" name="all-info-checkbox" checked ><b>Все аудитории</b><br>
        <% auditories_list.map do |auditory| %>
            <input type="checkbox" name="info-checkbox" class="auditory-checkbox" value="<%= auditory %>" checked><%= auditory %><br>
        <% end %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        Занятия
      </div>
      <div class="panel-body">
        <input type="checkbox" name="all-info-checkbox" checked ><b>Все занятия</b><br>
        <input type="checkbox" name="lesson-type-checkbox" value="lecture" checked>Лекции<br>
        <input type="checkbox" name="lesson-type-checkbox" value="seminar" checked>Практические<br>
        <input type="checkbox" name="lesson-type-checkbox" value="lab" checked>Лабораторные<br>
      </div>
    </div>
  </li>
</ul>