<div class="<%= "#{lesson_container lesson['lessonType']}" %>">
  <% if current %>
    <span class="<%= "#{badge_current lesson['lessonType']}" %>">Сейчас</span>
  <% end %>
  <div class="lesson-wrapper">
    <div class="subject"><%= lesson['subject'] %></div>
    <div class="employee"><%= lesson['employee'] %></div>
    <div class="auditory"><%= lesson['auditory'] %></div>
  </div>
</div>
