<div id="schedule-table">
  <div class="table-responsive">
    <table class="table table-responsive">
      <thead>
        <tr class="table-header">
          <th></th>
          <% lesson_time_boundaries.each do |lesson_time_boundary| %>
            <th <%= "#{th_class_for_time_boundary(current_time, lesson_time_boundary)}" %>>
              <div class="lesson-time">
                <%= lesson_time_boundary %>
              </div>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% week_numbers.each do |week_number| %>
          <tr <%= "#{tr_class_for_week(week_number, current_week)}" %>>
            <td colspan="100%">
              <div class="week">
                Неделя <%= week_number %>
                <%= ' (текущая)' if week_number == current_week %>
              </div>
            </td>
          </tr>
          <% weekdays.each do |weekday| %>
            <tr <%= "#{tr_class_for_day(week_number, current_week, weekday, current_day)}" %>>
              <td class="weekday-td">
                <div class="weekday">
                  <%= weekday %>
                  <% if week_number == current_week && weekday == weekdays[current_day - 1] %>
                    <br><%= '(сегодня)' %>
                  <% end %>
                </div>
              </td>
              <% lesson_time_boundaries.each do |lesson_time_boundary| %>
                <td class="lesson-td"><%=
                  if does_lesson_exist?(schedule, week_number, weekday, lesson_time_boundary)
                    render partial: 'lesson', locals:
                    {
                      lesson: schedule[week_number][weekday][lesson_time_boundary],
                      current: is_current_lesson?(current_time, lesson_time_boundary, week_number, current_week, weekday, current_day)
                    }
                  end
                  %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>