<div class="table-responsive">
  <table class="table table-responsive" id="table-lessons">
    <thead>
      <tr class="table-header">
        <th><h5><%= "#{params[:group_number]} (#{params[:subgroup_number]})" %></h5></th>
        <% lesson_time_boundaries.each do |lesson_time_boundary| %>
          <th><h5><%= lesson_time_boundary %></h5></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% week_numbers.each do |week_number| %>
        <% if week_number == current_week %>
          <tr class="tr-current-week-header">
        <% else %>
          <tr class="weekday-tr ">
        <% end %>
            <td colspan="100%">
              <h5 class="weekday-label">
                Неделя <%= week_number %>
                <%= " (текущая)" if week_number == current_week %>
              </h5>
            </td>
          </tr>
        <% weekdays.each do |weekday| %>
        <% if week_number == current_week %>
          <% if weekday == weekdays[current_day - 1] %>
            <tr class="tr-current-day">
          <% else %>
            <tr class="tr-current-week">
          <% end %>
        <% else %>
          <tr>
        <% end %>
            <td>
              <h4>
                <%= weekday %>
                <% if week_number == current_week && weekday == weekdays[current_day - 1] %>
                  <br><%= " (сегодня)" %>
                <% end %>
              </h4>
            </td>
            <% lesson_time_boundaries.each do |lesson_time_boundary| %>
              <td class="lesson-td" style="padding:2px"><%=
                  if schedule_hash[week_number][weekday]
                    if schedule_hash[week_number][weekday]
                      if schedule_hash[week_number][weekday][lesson_time_boundary]
                        if schedule_hash[week_number][weekday][lesson_time_boundary].any?
                          render partial: 'lesson', locals: {lesson: schedule_hash[week_number][weekday][lesson_time_boundary]}
                        end
                      end
                    end
                  end
                %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>