<!DOCTYPE html>
<html>
<head>
  <title>Раcписание БГУИР - <%= yield(:title) || "BSUIR Schedule Complete" %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= yield %>
</body>
</html>
